spark.master                     mesos://{{ mesos_master }}:5050
# spark.serializer                 org.apache.spark.serializer.KryoSerializer
spark.driver.memory              {{ driver_memory }}
spark.mesos.executor.home        /srv/{{ spark_directory_name }}.tgz
